.slick-prev {
    left: 20px;
    z-index: 9;
}

.slick-next {
    right: 33px;
    z-index: 9;
}

.slick-prev:before,
.slick-next:before {
    /* font-family: initial !important; */
    color: gray;
    font-size: 25px;
    background-color: white;
    padding: 15px 5px;

}

.slick-dots {
    bottom: -20px;
}