@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


@layer components {
  .container {
    @apply w-5/6 mx-auto
  }

  .social-icon {
    @apply w-8 h-8 text-lg text-gray-500 rounded-full bg-white ring-1 ring-gray-500
  }

  .heading {
    @apply text-2xl font-bold text-center text-slate-700 mt-3 py-2
  }

  .btn {
    @apply text-center font-medium py-1 px-5
  }

  .btn-primary {
    @apply bg-primary text-white
  }

  .warning {
    @apply h-8 bg-red-100 text-red-400 text-center font-medium
  }

  .success {
    @apply bg-green-100 text-green-400 text-center font-medium
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}